/*可愛的英文字型*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');



body{
    font-family: 'Amatic SC', cursive;
    background-image: url("expertise背景.jpeg");
    /*background-size:100% 100%;*/
    background-repeat: no-repeat;/*背景圖不重複*/
    background-position: center center;
    background-attachment:fixed;/*網頁捲動，背景圖片固定不動*/
    background-size: cover;/*背景圖片<容器時，將圖片放大*/
}
h1{
    text-align: center;
    color: #d5f0f3;
    font-size: 40px;
      
}

#i01,#i02,#i03,#i04,#i05,#i06,#i07,#i08,#i09,#i10{
    float: left;
    margin: center;
    margin-top: 90px;/*距離頂端*/
    font-size: 40px;
    color: gainsboro;
    text-shadow: 0 0 0.2em black;
    width: 20%;
}



/*RWD*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    
    h1{
        font-size: 30px;
        color:	#ADD8E6;
    }
    /*加載網頁的齒輪*/
    .loading img{
        width: 120px;
        height: 120px;
      }

    #i01,#i02,#i03,#i04,#i05,#i06,#i07,#i08,#i09,#i10{
        font-size: 30px;
    }
    .item{
        width: 80px;
        height: auto;
        margin-top: 10%;
    }
}
@media screen and (max-width:767px){
    h1{
        font-size: 20px;
        color: #4682B4;
    }
    /*加載網頁的齒輪*/
    .loading img{
        width: 90px;
        height: 90px;
      }
    #i01,#i02,#i03,#i04,#i05,#i06,#i07,#i08,#i09,#i10{
        font-size: 20px;
    }
    .item{
        width: 70px;
        height: auto;
        margin-top: 20%;
    }
    
}


















/*漢堡選單*/
.menu{/*漢堡icon位置*/
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  /*
  選單開合
  */
  
  #menu:checked ~ .menu-list { /*菜單點選後展開的設定*/
    width: 200px;/*選單開起來的寬*/
    height: 250px;/*選單開起來的高*/
    position: absolute;
    bottom: 70px;/*選單開起來的位置*/
    left: 0px;/*選單開起來的位置*/
  }
  /**/
  .menu-list {
    width: 0px;/*未開啟前的寬*/
    height: 0px;/*未開啟前的高*/
    background-image:url('paper.png');/*菜單的背景圖片，需要跟css放同資料夾中！*/
    border-radius:10px;/*菜單圖片四個角圓化*/
    box-shadow: 10px 10px 5px #888888;/*菜單的陰影*/
    position: absolute;
    z-index: 1;
    transition: all .6s;
    overflow: hidden;
    bottom: 70px;/*選單合起來的位置*/
    left: 0px;/*選單合起來的位置*/
  }
  
  .menu-list ul {/*菜單的ul設定*/
    list-style: none;
    margin-left:40px;/*選單裡的字距離左邊*/
    margin-top:45px;/*選單裡的字距離上邊*/
    padding: 0;
  }
  .menu-list ul>li{
    display:block;
  }
  /*
  隱藏核許框
  */
  input#menu {
  display: none;
  }
  
  
  .list{/*菜單裡面的文字*/
    letter-spacing: 4px;/*文字間距*/
    color: black;
    text-decoration: none;
    line-height: 50px;
    font-size: 20px;
  }

  .line img:hover{ /*漢堡圖片放大*/
    transform: scale(1.4);/*按鈕放大設定*/
    transition: all 0.6s;
  }


  /*圖片們跟隨鼠標旋轉*/
  .item::after,.item::before{
    content: '';
    width: 5px;
    height: 5px;
    display: block;
    /*position: absolute;*/
    border-radius: 50%;
    /*left: 20px;*/
    background-color: #fff;
}
.item::after{
    top: 25px;
}
.item::before{
    bottom: 25px;
}





/*齒輪圖片設定*/

.img{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('gear.png');
    background-size: cover;
  }


  /*加載中頁面*/
#progress{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    background-color:#24313e;
  }
  #progress .loading{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    /*轉一圈的秒數*/
    animation: loading 2s infinite linear;
    -webkit-animation: loading 2s infinite linear;
  }
  /*loading加載中轉圈圈動作*/
  @keyframes loading {
    0%{
        transform: rotate(0deg);/*旋轉角度起始*/
    }
    100%{
        transform: rotate(360deg);/*旋轉角度結束*/
    }
  }
  @-webkit-keyframes loading {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
  }